<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../spage/jquery.sPage.css">
</head>
<body>
<div class="card text-center">
    <div class="card-header text-white bg-primary text-left">查询条件</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label class="col-md-2">IP</label>
                <input class="col-md-4" type="text" placeholder="IP" id="ip" name="ip">
            </div>
            <div class="col-md-6">
                <label class="col-md-2">域名</label>
                <input class="col-md-4" type="text" placeholder="DOMIN" id="domin" name="domin">
            </div>
        </div>
        <br/>
        <div class="btn-group" role="group" aria-label="按钮组">
            <button type="submit" class="btn btn-primary">清空</button>
            <button type="button" class="btn btn-light">查询</button>
        </div>
    </div>
</div>
<br/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">开始时间</th>
            <th scope="col">结束时间</th>
            <th scope="col">连接次数</th>
            <th scope="col">IP</th>
            <th scope="col">域名</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(list)}" ><td colspan="6">暂无数据</td></tr>
        <tr th:each="list : ${list}">
            <td th:text=${listStat.index+1}></td>
            <td th:text="${list.startTimestampt}"></td>
            <td th:text="${list.endTimestampt}"></td>
            <td th:text="${list.times}"></td>
            <td th:text="${list.ip}"></td>
            <td th:text="${list.domin}"></td>
        </tr>
        </tbody>
    </table>
<input type="hidden" th:value="${page}" id="pageNum"/>
<input type="hidden" th:value="${count}" id="count"/>
<div id="myPage"></div>


<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="../jquery/jquery-3.0.0.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../spage/jquery.sPage.js"></script>
<script type="text/javascript">
    var pageNum=$("#pageNum").val();
    var count=$("#count").val();
    alert(pageNum);
    alert(count);
$("#myPage").sPage({

page:pageNum,//当前页码，必填
total:count,//数据总条数，必填
pageSize:20,//每页显示多少条数据，默认10条
totalTxt:"共{total}条",//数据总条数文字描述，{total}为占位符，默认"共{total}条"
showTotal:true,//是否显示总条数，默认关闭：false
showSkip:false,//是否显示跳页，默认关闭：false
showPN:true,//是否显示上下翻页，默认开启：true
prevPage:"上一页",//上翻页文字描述，默认“上一页”
nextPage:"下一页",//下翻页文字描述，默认“下一页”
backFun:function(page){
//点击分页按钮回调函数，返回当前页码
console.log(page);
}
});
</script>
</body>
</html>