<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="card text-center">
    <div class="card-header text-white bg-primary text-left">查询条件</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <label class="col-sm-2">名称</label>
                <input class=" col-sm-4" type="text" placeholder="Password">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-2">名称</label>
                <input class="col-sm-4 " type="text" placeholder="Password">
            </div>
            <div class="col-sm-4">
                <label class="col-sm-2">名称</label>
                <input class=" col-sm-4" type="text" placeholder="Password">
            </div>
        </div>
        <br/>
        <div class="btn-group" role="group" aria-label="按钮组">
            <button type="submit" class="btn btn-primary">清空</button>
            <button type="button" class="btn btn-light">查询</button>
        </div>
    </div>
</div>
<br/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">序号</th>
            <th scope="col">开始时间</th>
            <th scope="col">结束时间</th>
            <th scope="col">连接次数</th>
            <th scope="col">IP</th>
            <th scope="col">域名</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
<div class="col-lg-12" align="center">
    <!-- 分页控件，标签必须是<ul> -->
    <ul id="pageButton"></ul>
</div>

<script type="javascript">
    // 初始化页面
    getPageOfMemo(1);

    // 分页函数
    function getPageOfMemo(page) {

        // 获取请求参数(input里面的时间人员参数可忽略注释)
        var beginTime = $("#signDate").val();
        var endTime = $("#signDate1").val();
        var organId = $("#organId").val();
        var personName = $("#personName").val();

        $.ajax({
            url : basePath+"stats/mattess/getDataPage",
            type : "POST",
            data : {
                "page" : page, // 初始页
                "personName" : personName,//以下是搜索相关的参数  input里面的时间人员参数可忽略注释，同上
                "sleepStartTime" : beginTime,
                "sleepStopTime" : endTime,
                "organId" : organId,
            },
            dataType : "json",
            success : function(data) {
                var totalPages;
                if (data.returnData != null) {
                    totalPages = data.returnData.totalPages;
                    var htm = "";
                    $.each(data.returnData.sList, function(i, item) {

                        htm += "<div class='row' id='row-con' ><div><div class='sleep1'>";
                        htm += "<div>" + item.uuid + "</div><div><img id='headUrl' src='"
                                + item.headUrl + "'/></div><div>" + item.personName
                                + "</div>";
                        htm += "</div><div class='sleep2'>";

                        if (item.personSex == 1000001) {
                            htm += "<div>性别：男</div>";
                        } else {
                            htm += "<div>性别：女</div>";
                        }

                        htm += "<div>年龄：" + item.personAge + "</div><div>部门："
                                + item.organName + "</div>";
                        htm += "</div><div class='sleep3'>"
                        htm += "<div>入睡时间：" + item.sleepStartTime
                                + "</div><div>睡醒时间：" + item.sleepStopTime
                                + "</div>";
                        htm += "</div><div class='sleep4'>";
                        htm += "<div>平均心率：" + item.heart + "次/分</div><div>平均呼吸："
                                + item.breath + "次/分</div><div>翻身次数："
                                + item.bodyMove + "次/分</div>";
                        htm += "</div><div class='sleep6'>";
                        htm += "<div ><p>" + item.sleepQuality + "分</p>";

                        if (item.sleepQuality >= 60) {
                            htm += "<p style='border: 4px solid green;'>及格</p>";
                        } else {
                            htm += "<p >不及格</p>";
                        }

                        htm += "</div></div><div class='sleep7' onclick='getDetail("+item.id+")'>详情</div>";
                        htm += "</div></div>";

                    });
                    $('#htmlDiv').html(htm);


                    var element = $('#pageButton');
                    var options = {
                        bootstrapMajorVersion : 3,
                        currentPage : page, // 当前页数
                        numberOfPages : 5, // 显示按钮的数量
                        totalPages : totalPages, // 总页数
                        itemTexts : function(type, page, current) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                        },
                        // 点击事件，用于通过Ajax来刷新整个list列表
                        onPageClicked : function(event, originalEvent, type, page) {
                            getPageOfMemo(page);
                        }
                    };

                    element.bootstrapPaginator(options);
                }
            }
        });
    };
</script>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="../jquery/jquery-3.0.0.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>